.wpb-layout-element-button .icon-wpb-spacer_block { 
	background: none;
}
.wpb-layout-element-button .icon-wpb-spacer_block:before, .wpb-layout-element-button .icon-wpb-spacer_block:after{
	content: "";
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 5px 8px 5px;
	border-color: transparent transparent rgba(0, 102, 255, 0.5) transparent;
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -4px;
	border-style: inset;
	-webkit-transform: rotate(360deg);
}
.wpb-layout-element-button .icon-wpb-spacer_block:after{
	top: 0px;
	bottom: 35px;
	border-width: 8px 5px 0 5px;
	border-color: rgba(0, 102, 255, 0.5) transparent transparent transparent;
}
.wpb_spacer_block .vc_admin_label{
	line-height: 35px;
	margin-right: 10px;
	font-size: 12px;
	color: #000;
	font-weight: 700;
}
.wpb_spacer_block .vc_admin_label label{
	font-weight: 400;
	vertical-align: none;
}


#spacer_block{
	border: 1px solid #c80;	
}

.wpb_spacer_block .wpb_element_wrapper { 
	background: rgba(0, 102, 255, 0.04);
	border: 1px dashed #00D6FF;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}
.wpb_spacer_block .wpb_element_wrapper:hover {
	background: rgba(0, 102, 255, 0.1);
}
.wpb_spacer_block .wpb_element_wrapper:before, .wpb_spacer_block .wpb_element_wrapper:after{
	content: "";
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 5px 8px 5px;
	border-color: transparent transparent rgba(0, 102, 255, 0.2) transparent;
	position: absolute;
	top: 4px;
	left: 50%;
	margin-left: -4px;
	border-style: inset;
	-webkit-transform: rotate(360deg);
}
.wpb_spacer_block .wpb_element_wrapper:after{
	top: auto;
	bottom: 4px;
	border-width: 8px 5px 0 5px;
	border-color: rgba(0, 102, 255, 0.2) transparent transparent transparent;
}
.wpb_spacer_block h4.wpb_element_title{
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px !important;
	line-height: 20px !important;
	color: #1fa9c4;
	width: 50%;
	text-indent: 12px;
	border-right: 1px dashed rgba(0, 102, 255, 0.4);
}
.vc_shortcodes_container .fancylist {
  position: relative;
  border: 1px dashed #C6E2EF;
  padding-bottom: 8px;
  background-color: #F9FBFC;
  background-image: url(../icons/fancylist.png);
  background-position: 14px 27px;
  background-repeat: no-repeat;
  margin-top: 4px;
}
.wpb_bootstrap_modals .icon-wpb-fancylist {
  background-image: url(../icons/fancylist.png);
}
/* Fancy Lists
---------------------------------------------------------- */
.wpb_vc_fancy_lists > .wpb_element_wrapper {
  background-image: url(../icons/fancylist.png);
}
.wpb_vc_fancy_lists > .cta_align_left.wpb_element_wrapper {
  background-image: url(../icons/fancylist.png);
}
.wpb_vc_fancy_lists > .cta_align_bottom.wpb_element_wrapper {
  background-image: url(../icons/fancylist.png);
}
/* masonry
---------------------------------------------------------- */
.vc_shortcodes_container .masonry {
  position: relative;
  border: 1px dashed #C6E2EF;
  padding-bottom: 8px;
  background-color: #F9FBFC;
  background-image: url(../icons/masonry.png);
  background-position: 14px 27px;
  background-repeat: no-repeat;
  margin-top: 4px;
}
.wpb_bootstrap_modals .icon-wpb-masonry {
  background-image: url(../icons/masonry.png);
}

.wpb_vc_masonry > .wpb_element_wrapper {
  background-image: url(../icons/masonry.png);
}
.wpb_vc_masonry > .cta_align_left.wpb_element_wrapper {
  background-image: url(../icons/masonry.png);
}
.wpb_vc_masonry > .cta_align_bottom.wpb_element_wrapper {
  background-image: url(../icons/masonry.png);
}
/* Icons
---------------------------------------------- */
.fl_circle i.icon, .fl_circle,
option.fl_circle {
  background: url(../icons/circle.png) no-repeat right center;
}
.vc_shortcodes_container {
background-image: none;
}
.wpb_column_container .wpb_masonry_holder {
background-image:  url(../icons/masonry.png);
}
.wpb_column_container .wpb_masonry_holder .wpb_element_wrapper {
	height:auto;
}
.wpb_content_element > .wpb_element_wrapper {
	height:auto;
}