.item { width: 25%; }
.item.w2 { width: 50%; }
/*-------------------------*/
/* SLIDER */
/*-------------------------*/
.clhdr {width: 100%; height: 680px; background: url('../img/slider/slider_bg.jpg') no-repeat center top; background-size: cover; -webkit-background-size: cover; position: relative; overflow: hidden;}

.clhdr-model {position: relative; width: 50%; height: 680px; display: block; float: right;}

.clhdr-model img {bottom: 0; position: absolute; right: 0;}

.clhdr-model-a {z-index: 20; -webkit-animation-delay: 0.7s; -moz-animation-delay: 0.7s; -ms-animation-delay: 0.7s; -o-animation-delay: 0.7s; animation-delay: 0.7s;}

.clhdr-model-b {z-index: 10;}

.clhdr-content {width: 50%; float: left; height: 450px; padding-top: 250px;}

.clhdr-content h1, .clhdr-content h2 {letter-spacing: -2.5px; color: #fff; margin-bottom:8px; background: rgba(0,0,0,0.3); padding: 0 15px; font-size: 36px; line-height: 65px; display: table;}

.clhdr-content h2 {-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; -ms-animation-delay: 0.3s; -o-animation-delay: 0.3s; animation-delay: 0.3s;}

.clhdr-content p {color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,0.1); margin-top: 20px;}

.clhdr-content .button.solid {color: rgba(255,255,255,0.7); border-color: rgba(255,255,255,0.7);}

.clhdr-content .button.solid:hover {color: #fff; border: 1px solid #fff;}

.f_cta {
border: 1px solid #777;
border-color: rgba(0,0,0,0.2);
border-bottom-color: #333;
border-bottom-color: rgba(0,0,0,0.4);
-moz-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
-webkit-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
cursor: pointer;
padding: 0 .95em 0 0;
text-decoration: none;
white-space: nowrap;
-moz-user-select: none;
-webkit-user-select: none;
user-select: none;
position: relative;
-moz-border-radius: .3em;
-webkit-border-radius: .3em;
border-radius: .3em;
}
.f_cta {
	background-image: -moz-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: -ms-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: -o-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.1)), color-stop(49%, rgba(255,255,255,.05)), color-stop(51%, rgba(0,0,0,.05)), to(rgba(0,0,0,.1)));
	background-image: -webkit-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
}

.f_cta:hover, .f_cta:focus {
	background-image: -moz-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
	background-image: -ms-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
	background-image: -o-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.15)), color-stop(49%, rgba(255,255,255,.15)), color-stop(51%, rgba(0,0,0,.1)), to(rgba(0,0,0,.15)));
	background-image: -webkit-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
	background-image: linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
}
.ui.items > .row > .item, .ui.items > .item {
width: 92%;
}

/*----------
		Blocks
		----------*/
		/*Pricing table and price blocks*/
		.bmb_table {
			line-height: 150%; 
			font-size: 12px; 
			margin: 0 auto; 
			width: 100%; 
			max-width: 960px; 
			padding-top: 10px;
			margin-top: 100px;
		}
		
		.bmb_block {
			text-align: center; 
			width: 100%; 
			color: #fff; 
			float: left; 
			list-style-type: none; 
			transition: all 0.25s; 
			position: relative; 
			box-sizing: border-box;
			
			margin-bottom: 10px; 
			border-bottom: 0px solid transparent; 
		}
		li.bmb_block, li.bmb_block li {
			margin-left:0px;
			padding-left: 0px;
		}
		
		/*Price heads*/
		.bmb_table h3 {
			text-transform: uppercase; 
			padding: 5px 0; 
			background: #333; 
			margin: -10px 0 1px 0;
		}
		
		/*Price tags*/
		.bmb {
			display: table; 
			background: #444; 
			width: 100%; 
			height: 70px; 
		}
		.bmb_figure {
			font-size: 24px; 
			text-transform: uppercase; 
			vertical-align: middle; 
			display: table-cell;
		}
		.drkfooter {
			display: table; 
			background: #444; 
			width: 100%; 
			height: 15px; 
		}
		.bmb_number {
			font-weight: bold; 
			display: block;
		}
		.bmb_tenure {
			font-size: 20px; 
		}
		
		/*Features*/
		.features {
			background: #DEF0F4; 
			color: #000;
		}
		.features li {
			padding: 8px 15px;
			border-bottom: 1px solid #ccc; 
			font-size: 11px; 
			list-style-type: none;
		}
		
		.footer {
			padding: 15px; 
			background: #DEF0F4;
		}
		.action_button {
			text-decoration: none; 
			color: #fff; 
			font-weight: bold; 
			border-radius: 5px; 
			background: linear-gradient(#666, #333); 
			padding: 5px 20px; 
			font-size: 11px; 
			text-transform: uppercase;
		}
		
		.bmb_blockhover {
			box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.5); 
			transform: scale(1.04) translateY(-5px); 
			z-index: 1; 
			border-bottom: 0 none;
		}
		.bmb_blockhover .price {
			background:linear-gradient(#DB7224, #F9B84A); 
			box-shadow: inset 0 0 45px 1px #DB7224;
		}
		.bmb_blockhover h3 {
			background: #222;
		}
		.bmb_blockhover .action_button {
			background: linear-gradient(#F9B84A, #DB7224); 
		}
		
		
		@media only screen and (min-width : 480px) and (max-width : 768px) {
			.bmb_block {width: 50%;}
			.bmb_block:nth-child(odd) {border-right: 1px solid transparent;}
			.bmb_block:nth-child(3) {clear: both;}
			
			.bmb_block:nth-child(odd):hover {border: 0 none;}
		}
		@media only screen and (min-width : 768px){
			.bmb_block {width: 33.334%;}
			.bmb_block {border-right: 0px solid transparent; border-bottom: 0 none;}
			.bmb_block:last-child {border-right: 0 none;}
			
			.bmb_blockhover {border: 0 none;}
		}
        #owl .owlitem{
        margin: 3px;
        border: 0px;
    }
        #owl .owlitem img{
        display: block;
        width: 100%;
        height: auto;
        border: 0px;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
    }
        #owl .owlitem img{
        opacity:0.4;
        filter:alpha(opacity=40); /* For IE8 and earlier */
    }
        #owl .owlitem img:hover{
        opacity:1;
        filter:alpha(opacity=100); /* For IE8 and earlier */
    }
    .dotted_line {
  border-bottom: 1px dashed #aaa;
  border-left: 7px solid #aaa;    
  border-left: 7px solid rgba(0,0,0,.2);
  margin: 0 -15px 15px -22px;
  padding: 5px 15px;
}
.quotehdr {
  border-bottom: 1px solid #aaa;
  margin: 15px 0;
  padding: 5px 0;
  position: relative;
}

.quotehdr:before,
.quotehdr:after {
  content: '';
  border-right: 20px solid #4a3b34;
  border-top: 15px solid #aaa;
  bottom: -15px;
  position: absolute;
  left: 25px;
}

.quotehdr:after {
  border-top-color: #4a3b34;
  border-right-color: transparent;
  bottom: -13px;
  left: 26px;
}
.wrappedhdr {
  	position: relative;
	width: 50%;
	font-size: 1.5em;
	font-weight: bold;
	padding: 6px 20px 6px 24px;
	margin: 30px 10px 10px -24px;
	color: #fff;
	background: -webkit-linear-gradient(top, #3caba2, #28726c);
    background: -moz-linear-gradient(top, #3caba2, #28726c);
    background: -ms-linear-gradient(top, #3caba2, #28726c);
    background: -o-linear-gradient(top, #3caba2, #28726c);
	text-shadow: 0px 1px 2px #bbb;
	border-bottom:0px;
}

.wrappedhdr:after {
  	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #0B3E3A #0B3E3A transparent transparent;
}

.wrappedhdr:before {
  	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	right: -2px;
	top: 0px;
	border-color: transparent #fff transparent transparent;
}
.borderedhdr {
  position: relative;
  border-color: #eee;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  background: #fff;
  margin: 0 0 15px -15px;
  padding: 5px 15px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.borderedhdr:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  right: 15px;
  width: 70%;
  height: 10px;
  background: rgba(0, 0, 0, .7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, .7);
  transform: rotate(2deg);    
}
blockquote.primary{
  display:block;
  background: #fff;
  padding: 15px 10px 15px 15px;
  margin: 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 5px solid #c76c0c;
  border-right: 0px solid #c76c0c;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #000;
  -webkit-box-shadow: 2px 2px 15px #000;
  box-shadow: 2px 2px 15px #000;
}

blockquote.primary::before{
  content: ""; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote.primary::after{
  /*Reset to make sure*/
  content: "";
}
blockquote.secondary{
  display:block;
  background: #fff;
  padding: 15px 45px 15px 45px;
  margin: 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 0px solid #999;
  border-right: 0px solid #c76c0c;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #000;
  -webkit-box-shadow: 2px 2px 15px #000;
  box-shadow: 2px 2px 15px #000;
}

blockquote.secondary::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote.secondary::after{
 
}
blockquote.tertiary{
  display:block;
  background: #fff;
  padding: 15px 10px 15px 20px;
  margin: 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 0px solid #999;
  border-bottom: 1px solid #c76c0c;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #000;
  -webkit-box-shadow: 2px 2px 15px #000;
  box-shadow: 2px 2px 15px #000;
}

blockquote.tertiary::before{
  content: "\21C1"; /*Unicode for Left Double Quote*/
    
     /*Font*/
  font-family: Georgia, serif;
  font-size: 45px;
  line-height: 24px;
  color: #666;
  text-align: justify;
    
  /*Positioning*/
  position: absolute;
  left: 20px;
  bottom:15px;
}

blockquote.tertiary::after{
  /*Reset to make sure*/
  content: "";
}
blockquote.tertiary footer{
    font-style: italic;
    font-size:12px;
    text-align: left;
    margin-left:50px;
}
blockquote cite{
    font-style: italic;
    font-size:12px;
}
blockquote footer{
    font-style: italic;
    font-size:12px;
    text-align: right;
}